astroid==4.0.2
dill==0.4.0
flake8==7.3.0
isort==7.0.0
mccabe==0.7.0
platformdirs==4.5.0
plyvel==1.5.1
-e git+https://github.com/longnetwork/plyvelmp.git@5b5107ed9ee14e37abd2ecff861815e2ba873fca#egg=plyvelmp
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.4
tomlkit==0.13.3
